# Configuración de la Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fda_psg_db
DB_USER=postgres
DB_PASSWORD=mysecretpassword

# Rutas de almacenamiento local
PDF_STORAGE_DIR=data/pdf
MARKDOWN_STORAGE_DIR=data/markdown
CSV_STORAGE_DIR=csv

# FDA Scraping Config
FDA_BASE_URL=https://www.accessdata.fda.gov/scripts/cder/psg/index.cfm
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"

# Ruta de Logs
PIPELINE_LOG_FILE=data/logs/pipeline.log
